body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background: linear-gradient(to bottom, #064420, #A2D5AB);
    width: 100%;
    height: 100%;
  color: #ffffff;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #005420;
  color: #ffffff;
  border-radius: 12px;
  border: 2px solid #000000;
  box-shadow: 1px 1px 2px #050505;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #00913a;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 2px #ffffff;
}

@media only screen and (max-width: 430px) {
  body {
    margin-top: 10%;
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  img {
    height: 250px; /* Scale down images for smaller screens */
    width: auto;
  }

  #valentineQuestion {
    font-size: 30px; /* Smaller font for titles */
  }

  .answerButton {
    padding: 8px 16px;
    font-size: 16px; /* Smaller buttons for compact layout */
  }
}